.profile__main{
  display: flex;
  align-content: space-around;
}

@media screen and (max-width: 320px) {
  .profile__main {
    flex-direction: column;
    align-items: center;
    margin-bottom: 32px;
  }
}
